.popup__close-button {
    background-image: url(../../../images/CloseIcon.svg);
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    background-size: cover;
    top: -45px;
    right: -45px;
    position: absolute;
}

.popup__close-button:hover {
    opacity: 0.7;
    cursor: pointer;
  }

@media screen and (max-width: 600px) {
    .popup__close-button {
      width: 26px;
      height: 26px;
      right: 0;
    }
  }